<%= form_with(model: cog, local: true) do |form| %>
  <% if cog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cog.errors.count, "error") %> prohibited this cog from being saved:</h2>

      <ul>
      <% cog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cog_name %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :cog_size %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :cog_color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
